.menu {
    position: relative;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--white);
}

.btn:not(:last-child) {
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    font-size: 30px;
    transform: scale(100%);
    transition: transform .3s ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: scale(110%);
    transition: transform .3s ease-in-out;
}

.btn__descr_green {
    color: var(--green);
}

.btn__descr_orange {
    color: var(--orange);
}

.btn__descr_grey {
    color: var(--grey91);
}

.resetBtn {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -20%) scale(100%);
    border-radius: 8px;
    color: var(--white);
    background-color: var(--red);
    transition: transform .3s ease-in-out;
}

.resetBtn:hover,
.resetBtn:focus {
    transform: translate(-50%, -20%) scale(110%);
    transition: transform .3s ease-in-out;
}

@media (max-width: 576px) {
    .menu {
        padding: 10px 15px;
    }

    .btn:not(:last-child) {
        margin-bottom: 10px;
    }

    .btn {
        width: auto;
        font-size: 20px;
    }

    .resetBtn {
        padding: 5px;
        top: 28%;
    }
}